*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    user-select: none;
    width: 100%;
    height: 100%;
}
body{
    font-family:sans-serif;
    overflow: hidden;
    background-color: rgb(24, 24, 24);
}
.slider-container{
    margin: 10px auto;
    width: 800px;
    height: 450px;
    position: relative;
}
.slider-container img{
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1;
}
.slider-container img.active{
    opacity: 1;
}
.slider-container .slide-number{
    position: absolute;
    left: 10px;
    right: 10px;
    background-color: gray;
    color: white;
    border-radius: 3px;
    padding:5px;
    width:fit-content;
    z-index: 2;
    font-size: 20px;
}
.slider-controls .next, 
.slider-controls .previous{
    padding:10px;
    color: white;
    background-color: green;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
    font-size: 18px;
    width: 10%;
    text-align: center;
}

.slider-controls{
    display: flex;
    justify-content: space-evenly;
}
.next:hover ,.previous:hover{
    background-color: rgb(20, 151, 20);
}
.next:active,.previous:active{
    background-color: rgb(1, 68, 1);
}
.slider-controls .previous.disable{
    background-color:rgba(0, 128, 0, 0.39);
    color: white;
    cursor: no-drop;
}
.slider-controls .next.disable{
    background-color: rgba(0, 128, 0, 0.39);
    color: white;
    cursor: no-drop;
}
.slider-controls .indicator{
    width: 15%;
    float: left;
}
.slider-controls .indicator ul{
    list-style: none;
    margin: 0;
    text-align: center;
}
.slider-controls .indicator ul li{
    display: inline-block;
    background-color: rgb(185, 185, 185);
    color: white;
    font-weight: bold;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;
}
.slider-controls .indicator .active{
    background-color: green;
    color: white;
}
.slider-container .slide-number{
    margin-top:10px;
}